# Ignore log files
*.log

# Ignore environment configuration files
.env

# Ignore Gatsby build directories if generated
.cache/
public/

# Ignore potentially generated CSS files
src/styles/tailwind.css
src/styles/material.css

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor-specific files
.vscode/
.idea/
node_modules
